<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body>
<header>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li name="home"><a href="index.html" data-nav-section="main">Главная</a></li>
                <li name="faculty"><a href="faculty.html" data-nav-section="help">Факультет</a></li>
                <li name="news"><a href="news.html" data-nav-section="news">Новости</a></li>
                <li name="achievements"><a href="achievements.html" data-nav-section="achievments">Достижения</a></li>
                <li name="abiturient"><a href="abiturient.html" data-nav-section="enrollee">Абитуриентам</a></li>
                <li name="help"><a href="help.html" data-nav-section="help">Помощь</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Войти</a></li>
            </ul>
        </div>
    </div>
</nav>
</header>
</body>
</html>