<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/header-style.css" rel="stylesheet" />
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
</head>

<body>
<header id="fitu-header">
<nav class="navbar navbar-default" role="navigation">
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
      <span class="sr-only"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
    	<li style="padding-left: 20px"><a href="index.html" data-nav-section="main">Главная</a></li>
		<li><a href="faculty.html" data-nav-section="help">Факультет</a></li>
		<li><a href="news.html" data-nav-section="news">Новости</a></li>
		<li><a href="achievements.html" data-nav-section="achievments">Достижения</a></li>
		<li><a href="abiturient.html" data-nav-section="enrollee">Абитуриентам</a></li>
		<li><a href="help.html" data-nav-section="help">Помощь</a></li>
		<li class="search">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="..." name="q" style="height:21px" />
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" style="height:21px; padding:2px"><i class="glyphicon glyphicon-search" ></i></button>
            </div>
        </div>
        </form>
		</li>
		<li><a href="#">Войти</a></li>
    </ul>
  </div>
</nav>
</header>

</body>
</html>