<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">	
<style type="text/css">
thead > tr > th{
	text-align: center;
}
tbody{
	text-align: center;
}
a{
	text-decoration: underline;
}
</style>
</head>
<body>
<header id="fitu-header">
		<div class="head">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<a href="#" class="js-fitu-nav-toggle fitu-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>

				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html" data-nav-section="main"><span >Главная</span></a></li>
						<li><a href="faculty.html" data-nav-section="help"><span>Факультет</span></a></li>
						<li><a href="news.html" data-nav-section="news"><span>Новости</span></a></li>
						<li><a href="achievements.html" data-nav-section="achievments"><span>Достижения</span></a></li>
						<li><a href="abiturient.html" data-nav-section="enrollee"><span>Абитуриентам</span></a></li>
						<li><a href="help.html" data-nav-section="help"><span>Помощь</span></a></li>
						<li class="search"><a href="#" data-nav-section="help">
							<input type="text" class="form-control" aria-label="..." placeholder="Поиск..">
						</a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>
	<div class="container-fluid" style="padding-top: 50px;">
		<div class="col-md-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th rowspan="2" style="padding-bottom: 60px">Специальность</th>
					<th rowspan="2" style="padding-bottom: 60px">Квалификация</th>
					<th colspan="4">План приема на 2017 год<br> поформам обучения</th>
					<th colspan="4">Проходные баллы</th>
				</tr>
				<tr>
					<th>Дневное <br>бюд./пл.</th>
					<th>Заочное <br>бюд./пл.</th>
					<th>Дист. <br>платн.</th>
					<th>ИИТ <br>вечер/заоч <br>платное</th>
					<th>2013</th>
					<th>2014</th>
					<th>2015</th>
					<th>2016</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="padding-top: 15px"><a href="">Автоматизированные системы <br>обработки информации</a></td>
					<td>Инженер <br>по информационным <br>технологиям</td>
					<td>55/45</td>
					<td></td>
					<td>10</td>
					<td></td>
					<td>338</td>
					<td>332*</td>
					<td>336</td>
					<td>342*</td>
				</tr>
				<tr>
					<td><a href="">Искусственный интеллект</a></td>
					<td>Инженер - системотехник</td>
					<td>50/10</td>
					<td></td>
					<td></td>
					<td></td>
					<td>328*</td>
					<td>323*</td>
					<td>321</td>
					<td>331</td>
				</tr>
				<tr>
					<td><a href="">Информационные технологии <br>и управление в технических <br>системах</a></td>
					<td>Инженер по <br>информационным технологиям <br>и управлению</td>
					<td>70/20</td>
					<td>10/20</td>
					<td></td>
					<td>30/60</td>
					<td>313*</td>
					<td>309*</td>
					<td>300</td>
					<td>311*</td>
				</tr>
				<tr>
					<td><a href="">Промышленная электроника</a></td>
					<td>Инженер по радиоэлектронике</td>
					<td>25/5</td>
					<td></td>
					<td></td>
					<td>0/60</td>
					<td>295</td>
					<td>292*</td>
					<td>263</td>
					<td>290*</td>
				</tr>
				<tr>
					<td><a href="">Информационные системы <br>и технологии <br>(в игровой индустрии)</a></td>
					<td>Инженер - <br>системный программист - <br>геймдизайнер</td>
					<td>10/50</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>216<br>(пл.)</td>
					<td>360</td>
				</tr>
			</tbody>
		</table>
		<p class="small text-right">* - полупроходной балл.</p>
	</div>
	</div>
</body>
</html>