<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/security">
<head>
<meta charset="UTF-8"/>
<title>ФИТиУ Достижения</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"></link>
<link href="https://fonts.googleapis.com/css?family=PT+Sans"
	rel="stylesheet"></link>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/icons.css"></link>
<link rel="stylesheet" href="css/style.css"></link>
<link rel="stylesheet" href="css/team.css"></link>
<link rel="stylesheet" href="css/achievements.css"></link>
<link rel="stylesheet" href="css/news.css" type="text/css"
	media="screen"></link>
<script src="js/jquery.news.js" type="text/javascript"></script>

	<!--FIX-->
	<link rel="stylesheet" href="css/util/header.css"/>
	<link rel="stylesheet" href="css/util/footer.css"/>

	<script>
        $(document).ready(function(){
            $("li[name='achievements']").addClass("active");
        });
	</script>
</head>
<body>
<header id="fitu-header" th:replace="fragments/header::header"></header>
<main>
	<div class="container-fluid">
		<section id="fitu-banner">
			<div class="banner">

				<div class="container">

					<div class="row">
						<div class="col-lg-12">
							<h2>Факультет информационных технологий и управления - мы
								вместе, чтобы быть лучшими!</h2>
						</div>

					</div>

				</div>
			</div>
		</section>
		<section id="fitu-services" data-section="achievments">
			<div class="fitu-services">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="box-services">
								<i class="icon-screen-desktop"></i>
								<div class="fitu-post">
									<h3>Современные технологии</h3>
									<p>Факультет поддерживает партнерские отношения с ведущими
										IT-компаниями: IBM, Siemens, Philips, Intel, Motorola, Omron
										IBM, EPAM Systems, Itransition и так далее.</p>
								</div>
							</div>

						</div>
						<div class="col-md-4">
							<div class="box-services">
								<i class="icon-trophy"></i>
								<div class="fitu-post">
									<h3>Наши победы</h3>
									<p>ФИТиУ постоянно занимает призовые места во
										всенаправленных научно-технических и спортивных олимпиадах.</p>
								</div>
							</div>


						</div>
						<div class="col-md-4">
							<div class="box-services">
								<i class="icon-people"></i>
								<div class="fitu-post">
									<h3>Наши студенты!</h3>
									<p>Сегодня на факультете обучается более 1700 студентов.
										Наши выпускники работают в таких фирмах как Парк Высоких
										Технологий, IBA, EPAM Systems, Itransition и др.</p>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
			<hr/>
		</section>

		<div id="tf-team">
			<h3 align="center">Лучшие студенты ФИТУ</h3>
			<div class="container">
				<!-- container -->
				<div class="row">
					<div id="team" class="owl-carousel owl-theme text-center">
						<!-- team carousel wrapper -->
						<div class="col-md-3">
							<div class="item">
								<!-- Team #1 -->
								<div class="hover-bg">
									<!-- Team Wrapper -->
									<div class="hover-text off">
										<!-- Hover Description -->
										<h5>Общий средний балл 9,20.<br/>Староста
										</h5>
									</div>
									<!-- End Hover Description -->
									<img src="https://www.bsuir.by/m/12_100229_1_88722.jpg" alt="..." class="img-responsive"></img>
									<!-- Team Image -->
									<div class="team-detail text-center">
										<h3>Верстак Мария</h3>
										<p>гр. 220601</p>

									</div>
								</div>
								<!-- End Team Wrapper -->
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<!-- Team #1 -->
								<div class="hover-bg">
									<!-- Team Wrapper -->
									<div class="hover-text off">
										<!-- Hover Description -->
										<h5>Общий средний балл 9,20.<br/>Староста
										</h5>
									</div>
									<!-- End Hover Description -->
									<img src="https://www.bsuir.by/m/12_100229_1_88722.jpg" alt="..." class="img-responsive"></img>
									<!-- Team Image -->
									<div class="team-detail text-center">
										<h3>Верстак Мария</h3>
										<p>гр. 220601</p>

									</div>
								</div>
								<!-- End Team Wrapper -->
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<!-- Team #1 -->
								<div class="hover-bg">
									<!-- Team Wrapper -->
									<div class="hover-text off">
										<!-- Hover Description -->
										<h5>Общий средний балл 9,20.<br/>Староста
										</h5>
									</div>
									<!-- End Hover Description -->
									<img src="https://www.bsuir.by/m/12_100229_1_88722.jpg" alt="..." class="img-responsive"></img>
									<!-- Team Image -->
									<div class="team-detail text-center">
										<h3>Верстак Мария</h3>
										<p>гр. 220601</p>

									</div>
								</div>
								<!-- End Team Wrapper -->
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<!-- Team #1 -->
								<div class="hover-bg">
									<!-- Team Wrapper -->
									<div class="hover-text off">
										<!-- Hover Description -->
										<h5>Общий средний балл 9,20.<br/>Староста
										</h5>
									</div>
									<!-- End Hover Description -->
									<img src="https://www.bsuir.by/m/12_100229_1_88722.jpg" alt="..." class="img-responsive"></img>
									<!-- Team Image -->
									<div class="team-detail text-center">
										<h3>Верстак Мария</h3>
										<p>гр. 220601</p>

									</div>
								</div>
								<!-- End Team Wrapper -->
							</div>
						</div>

						<!-- End Team Wrapper -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Team #1 -->

	</div>
</main>
<footer th:replace="fragments/footer::footer">	</footer>
</body>
</html>