<!DOCTYPE html>
<html lang="en">
<head>
	<title>Перечень кафедр</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/department.css" rel="stylesheet"> 
    <link href="css/style.css" rel="stylesheet"> 
     <link href="css/style.css" rel="stylesheet"> 
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
</head>

<body>
	<header id="fitu-header">
		<div class="head">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<a href="#" class="js-fitu-nav-toggle fitu-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>

				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html" data-nav-section="main"><span >Главная</span></a></li>
						<li><a href="faculty.html" data-nav-section="help"><span>Факультет</span></a></li>
						<li><a href="news.html" data-nav-section="news"><span>Новости</span></a></li>
						<li><a href="achievements.html" data-nav-section="achievments"><span>Достижения</span></a></li>
						<li><a href="abiturient.html" data-nav-section="enrollee"><span>Абитуриентам</span></a></li>
						<li><a href="help.html" data-nav-section="help"><span>Помощь</span></a></li>
						<li class="search"><a href="#" data-nav-section="help">
							<input type="text" class="form-control" aria-label="..." placeholder="Поиск..">
						</a></li>
						<li><a href="#"><span>Войти</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>
	<div class="department">
<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="list-group" id="side-nav">
				<a href="kaf-vmip.html" class="list-group-item ">Кафедра вычислительных методов и программирования</a>
				<a href="kaf-gum-dists.html" class="list-group-item ">Кафедра гуманитарных дисциплин</a>
				<a href="kaf-iit.html" class="list-group-item ">Кафедра интеллектуальных информационных технологий</a>
				<a href="kaf-itas.html" class="list-group-item ">Кафедра информационных технологий автоматизированных систем</a>
				<a href="kaf-sist-upr.html" class="list-group-item ">Кафедра систем управления</a>
				<a href="kaf-toe.html" class="list-group-item ">Кафедра теоретических основ электротехники</a>
			</div>
		</div>
		<div class="col-sm-8">
			<div id="content">
			<img src="images/bsuir.jpg" height="400" width="600">
              <h4>Факультет является ровесником университета. Сегодня - это крупный учебный и научный центр, в котором обучается более 1700 студентов, есть свои научные школы, функционирует магистратура, аспирантура и докторантура. Обучение ведется по четырем перспективным специальностям: "Автоматизированные системы обработки информации", "Искусственный интеллект", "Информационные технологии и управление в технических системах", "Промышленная электроника". 
На ФИТУ готовят специалистов широкого профиля по IТ-технологиям, которые без труда займут достойное место на рынке труда. </h4>		
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>