<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/sostav-fakulteta.css">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header id="fitu-header" th:replace="fragments/header::header">
</header>
	<section id="faculty-members">
	<div class="container-fluid">
	<h2>Состав факультета</h2>
		<div class="col-md-9">
		<table class="table">
			<tr>
				<td>
					<div class="col-md-2">
						<a href=""><img src="images/1.jpg" alt="Photo not found" class="img-thumbnail"></a>
					</div>
					<div class="info">
						<strong>Декан</strong>
						<p>Шилин Леонид Юрьевич</p>
						<p><i class="fa fa-graduation-cap" aria-hidden="true" data-title="Ученое звание"></i> Доктор технических наук, профессор.</p>
						<p><i class="fa fa-university" aria-hidden="true" data-title="Аудитория"></i>&nbsp;406-5к</p>
						<p><i class="fa fa-phone-square" aria-hidden="true" data-title="Телефон"></i>&nbsp;&nbsp;293-23-66</p>
						<p><i class="fa fa-envelope" aria-hidden="true" data-title="Почта"></i>&nbsp;&nbsp; <a href="">dekfitu@bsuir.by</a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="col-md-2">
						<a href=""><img src="images/2.jpg" alt="Photo not found" class="img-thumbnail"></a>
					</div>
					<div class="info">
						<strong>Заместитель декана</strong>
						<p>Столбанов Николай Андреевич</p>
						
						<p><i class="fa fa-university" aria-hidden="true" data-title="Аудитория"></i>&nbsp;406-5к</P>
						<p><i class="fa fa-phone-square" aria-hidden="true" data-title="Телефон"></i>&nbsp;&nbsp;293-86-34</P>

						<p><i class="fa fa-envelope" aria-hidden="true" data-title="Почта"></i> <a href="">dekfitu@bsuir.by</a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="col-md-2">
						<a href=""><img src="images/3.jpg" alt="Photo not found" class="img-thumbnail"></a>
					</div>
					<div class="info">
						<strong>Заместитель декана</strong>
						<p>Трофимович Алексей Федорович</p>
						
						<p><i class="fa fa-university" aria-hidden="true" data-title="Аудитория"></i>&nbsp;404б-5к</P>
						<p><i class="fa fa-phone-square" aria-hidden="true" data-title="Телефон"></i>&nbsp;&nbsp;293-89-97</P>

						<p><i class="fa fa-envelope" aria-hidden="true" data-title="Почта"></i> <a href="">trofimovich_a_f@tut.by </a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="col-md-2">
						<a href=""><img src="images/4.jpg" alt="Photo not found" class="img-thumbnail"></a>
					</div>
					<div class="info">
						<strong>Заместитель декана</strong>
						<p>Гуринович Алевтина Борисовна</p>
						
						
						<p><i class="fa fa-university" aria-hidden="true" data-title="Аудитория"></i>&nbsp;404а-5к</p>
						<p><i class="fa fa-phone-square" aria-hidden="true" data-title="Телефон"></i>&nbsp;&nbsp;293-86-64</p>
                        <p><i class="fa fa-envelope" aria-hidden="true" data-title="Почта"></i> <a href="">gurinovich@bsuir.by </a></p>	
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="col-md-2">
						<a href=""><img src="images/5.jpg" alt="Photo not found" class="img-thumbnail"></a>
					</div>
					<div class="info">
						<strong>Заместитель декана</strong>
						<p>Пригара Виктория Николаевна</p>
						
						<p><i class="fa fa-graduation-cap" aria-hidden="true" data-title="Ученое звание"></i>Магистр технических наук.</p>
						<p><i class="fa fa-university" aria-hidden="true" data-title="Аудитория"></i>&nbsp;408-5к</P>
						<p><i class="fa fa-phone-square" aria-hidden="true" data-title="Телефон"></i>&nbsp;&nbsp;293-89-77</P>

						<p><i class="fa fa-envelope" aria-hidden="true" data-title="Почта"></i> <a href="">prigara@bsuir.by</a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="col-md-2">
						<a href=""><img src="images/6.jpg" alt="Photo not found" class="img-thumbnail"></a>
					</div>
					<div class="info">
						<strong>Инспектор деканата ФИТиУ</strong>
						<p>Мухина Елена Алексеевна</p>
						
						<p><i class="fa fa-university" aria-hidden="true" data-title="Аудитория"></i>&nbsp;406-5к</P>
						<p><i class="fa fa-phone-square" aria-hidden="true" data-title="Телефон"></i>&nbsp;&nbsp;293-86-16</P>

						<p><i class="fa fa-envelope" aria-hidden="true" data-title="Почта"></i> <a href="">dekfitu@bsuir.by </a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="col-md-2">
						<a href="shilin"><img src="images/7.jpg" alt="Photo not found" class="img-thumbnail"></a>
					</div>
					<div class="info">
						<strong>Секретарь деканата</strong>
						<p>Атмар Людмила Арнольдовна</p>
						
						<p><i class="fa fa-university" aria-hidden="true" data-title="Аудитория"></i>&nbsp;406-5к</P>
						<p><i class="fa fa-phone-square" aria-hidden="true" data-title="Телефон"></i>&nbsp;&nbsp;293-86-16</P>

						<p><i class="fa fa-envelope" aria-hidden="true" data-title="Почта"></i> <a href="">dekfitu@bsuir.by</a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="col-md-2">
						<a href="shilin"><img src="images/8.jpg" alt="Photo not found" class="img-thumbnail"></a>
					</div>
					<div class="info">
						<strong>Секретарь деканата (инженер-программист)</strong>
						<p>Васильева Анна Александровна</p>
						
						<p><i class="fa fa-university" aria-hidden="true" data-title="Аудитория"></i>&nbsp;408а-5к</P>
						<p><i class="fa fa-phone-square" aria-hidden="true" data-title="Телефон"></i>&nbsp;&nbsp;293-88-78</P>

						<p><i class="fa fa-envelope" aria-hidden="true" data-title="Почта"></i> <a href="">natfitu@bsuir.by</a></p>
					</div>
				</td>
			</tr>
		</table>
	</div>
	</div>
	</section>
</body>
</html>