<div id="content">
<div class="navigation">
		<h2>Кафедра информационных технологий автоматизированных систем</h2>
		  <hr>
			<div class="label" style="margin-top: 5%"><img src="images/itas.jpg" height="110" width="145" ></div>
			<div class="list">
			<table >
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Состав кафедры</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Олимпиады</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Учебная работа</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Дипломникам</a></td>
			</tr>	
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Научная работа</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Магистратура</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">График консультации</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Аспирантура</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Абитуриентам</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Конференции</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Студентам</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Информационно-воспитательная работа</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Нормативные документы и СМК</a></td>
			</tr>
		</table>
	</div>
	</div>
	 <div class="info"  style="height: 330px">
         <h3 class="text-center">Информация о кафедре</h3>
      <div class="info-img">
         <img src="images/itas-info.jpg" height="219" width="168">
      </div>
         <div class="dekan-info" style="margin-left: 200px">
         <b>Заведующий кафедрой: </b><p>НАВРОЦКИЙ Анатолий Александрович</p>
            <p>кандидат физико-математических наук, доцент </p>
         	<p>Рабочее место:605-5 <br>
       		 Рабочий телефон: +375 17 293-84-73<br>
        	 e-mail: navrotsky@bsuir.by</p>
         </div>
      </div>
  
         <div class="contacts text-right">
           <p>+375 17 293-88-23<span class="glyphicon glyphicon-earphone"></span></p>
           <p>220013, г. Минск, ул. П. Бровки, 6, ауд. 605<span class="glyphicon glyphicon-envelope"></span>
           <p style=" padding-right: 30px">kafitas@bsuir.by</p>
        </div>        
        </div>
</div>