<div id="content">
<div class="navigation">
		<h2>Кафедра систем управления</h2>
				  <hr>
			<div class="label"><img src="images/sist-upr.png" height="150" width="145"></div>
			<div class="list">
		<table>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Состав кафедры</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Заочникам</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Учебная работа</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Дипломникам</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Научная работа</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Магистрантам</a></td>
			</tr>		
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">График консультаций</a></td>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Аспирантам</a></td>
			</tr>	
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Очникам</a></td>
			</tr>	
		</table>
		</div>

</div>
	 <div class="info" style="height: 270px">
         <h3 class="text-center">Информация о кафедре</h3>
      		<div class="info-img">
        		 <img src="images/sist-upr-info.png">
      		</div>
        <div class="dekan-info" style="margin-left: 170px">
         <b>Заведующий кафедрой: </b><p>МАРКОВ Александр Владимирович</p>
            <p>кандидат технических наук, доцент</p>
         	<p>Рабочее место:706в-5  <br>
       		 Рабочий телефон:  +375 17 293-86-03 <br>
        	 e-mail:markov@bsuir.by</p>
         </div>
      </div>
        <div class="contacts text-right">
           <p>Рабочие телефоны:<span class="glyphicon glyphicon-earphone"></span></p>
           <p  style="padding-right: 30px">
			293-86-03 (зав.кафедрой), <br>
			293-86-02 (кафедра), <br>
			293-22-77 (профессор Лукьянец С.В.), <br>
			293-86-73 (комн.710-5), <br>
			293-86-74 (зав.лабораториями)</p>
           <p>220013, г.Минск, ул. П.Бровки,6<span class="glyphicon glyphicon-envelope"></span></p>
           <p style=" padding-right: 30px">kafsu@bsuir.by</p>
        </div>

	</div>
