
	<div id="content">
	<div class="navigation">
		<h2>Кафедра гуманитарных дисциплин</h2>
		 <hr>
			<div class="list" style="margin-left: 5%">
		<table >
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Состав кафедры</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Учебная работа</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Научная работа</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Консультации</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Учебно-методические рекомендации, вопросы к экзаменам для всех форм обучения</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">История кафедры</a></td>
			</tr>
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Идеологическая и воспитательная работа</a></td>
			</tr>	
		</table>
		</div>
		</div>

<div class="info" style="height: 330px">
         <h3 class="text-center">Информация о кафедре</h3>
      <div class="info-img">
         <img src="images/gum-info.jpg" height="200" width="300">
      </div>
         <div class="dekan-info" style="margin-left: 320px">
            <b>Заведующий кафедрой: </b><p>Николаева Людмила Викторовна</p>
            <p>кандидат исторических наук, доцент <br> <a href="#">персональная страница</a>
			<p>ауд. 206 - к. 4<br>
			Тел. +375 17 293-80-08<br>
			e-mail: Mikalayeva@bsuir.by </p>
         </div>
      </div>
        <div class="contacts text-right">
        <h4>Контактная информация кафедры </h4>
           <p>Преподавательская: <br> ауд. 205 - к. 4 <br> тел. +375 17 293-80-14 </p>
           <p> Кабинет кафедры: <br> ауд. 202 - к. 4 <br> тел. +375 17 293-88-08 </p>
           <p>kafgumd@bsuir.by <span class="glyphicon glyphicon-envelope"></span></p>
        </div>

	</div>