<div id="content">
<div class="navigation">
		<h2>Кафедра интеллектуальных информационных технологий</h2>
      <hr>
			<div class="list" style="margin-left: 5%">
			<table >
			<tr>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Состав кафедры</a></td>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Дипломникам</a></td>
   			</tr>
   			<tr>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Учебная работа</a></td>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Магистрантам</a></td>
   			</tr>	
   			<tr>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Научная работа</a></td>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">История</a></td>
   			</tr>
   			<tr>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Консультации</a></td>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Информационно-воспитательная работа</a></td>
   			</tr>
   			<tr>
   			 	<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Публикации</a></td>
   			</tr>	
		</table>
		</div>
</div>
      <div class="info" style="height: 300px">
         <h3 class="text-center">Информация о кафедре</h3>
      <div class="info-img">
         <img src="images/iit-info.jpg" height="180" width="248">
      </div>
         <div class="dekan-info" style="margin-left: 270px">
         <b>Заведующий кафедрой: </b><p>Голенков Владимир Васильевич</p>
            <p>доктор технических наук, профессор</p>
            <p>Рабочее место:606в-5 <br>
            Рабочие телефоны: +375 17 293-23-24, +375 17 293-80-92 <br>
            e-mail: golen@bsuir.by</p>
         </div>
      </div>
         <div class="contacts text-right">
           <p>+375 17 293-80-92<span class="glyphicon glyphicon-earphone"></span></p>
           <p>220013, г. Минск, ул. Платонова, 39<span class="glyphicon glyphicon-envelope"></span>
           <p style=" padding-right: 30px">kafiit@bsuir.by</p>
        </div>

	</div>