<div id="content">
<div class="navigation">
		<h2>Кафедра теоретических основ электротехники</h2>
              <hr>
			<div class="label"><img src="images/toe.jpg" height="150" width="145"></div>
			<div class="list">
		<table>
			<tr>
   				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Состав кафедры</a></td>
   				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Воспитательная работа</a></td>
   				</tr>
   				<tr>
   					<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Учебная работа</a></td>
   					<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Дипломное проектирование</a></td>
   				</tr>
   				<tr>
   					
   					<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Научная работа</a></td>
   					<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">НИР студентов и магистрантов</a></td>
   				</tr>
   				<tr>
   					
   					<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">График консультаций</a></td>
   					<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Распределение</a></td>
   				</tr>
   				<tr>
   					
   					<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Публикации</a></td>
   					<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Практики</a></td>
   				</tr>
		</table>
		</div>
      </div>
    <div class="info" style="height: 310px">
         <h3 class="text-center">Информация о кафедре</h3>
      <div class="info-img">
         <img src="images/toeinfo.jpg" alt="No image">
      </div>
         <div class="dekan-info" style="margin-left: 320px">
            <p><b>Заведующий кафедрой: </b><br>Давыдов Максим Викторович</p>
            <p>кандидат технических наук, доцент <br> <a href="#">персональная страница</a>
         <p>ауд. 512а-4 <br>
         Тел. +375 17 293-86-08<br>
         e-mail: davydov-mv@bsuir.by</p>
         </div>
      </div>
        <div class="contacts text-right">
          <p>Рабочие телефоны:<span class="glyphicon glyphicon-earphone"></span></p>
           <p  style="padding-right: 30px">
         293-89-20 - преподавательская 513а <br>
         293-85-79 - препараторская 510а <br>
         293-22-77 (профессор Лукьянец С.В.), <br>
         293-86-07 - зав. лабораториями 513-б<br>
         293-85-84 - ученый секретарь 513-б</p>
          
        </div>
	</div>