
	<div id="content">
   <div class="navigation">
		<h2 id="kaf">Кафедра вычислительных методов и программирования</h2>
      <hr>
		<div class="label" ><img src="images/vmip.gif" height="150" width="105"></div>
		<div class="list">
		<table >
			<tr>
				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">О кафедре</a></td>
   			</tr>
   			<tr>
   				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Состав кафедры</a></td>
    		</tr>
   			<tr>
   				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Учебная работа</a></td>
   			</tr>	
   			<tr>
   				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Научная работа</a></td>
   			</tr>
   			<tr>
   				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">График консультаций и расписание</a></td>
   			</tr>
   			<tr>
   				<td><span class="glyphicon glyphicon-chevron-right"></span><a href="#">Докумены и ссылки</a></td>
   			</tr>
		</table>
		</div>
      </div>
      
      <div class="info">
         <h3 class="text-center">Информация о кафедре</h3>
      <div class="info-img">
         <img src="images/vmip-info.jpg" height="280" width="210">
      </div>
         <div class="dekan-info">
            <p><b>Заведующий кафедрой: </b>Кукин Дмитрий Петрович</p>
            <p>Ауд. 410а <br> Тел. (+375 17) 293-23-46 </p>
            <p><b>Кафедра располагается </b>в 5-м корпусе БГУИР (ул. Платонова, 39) на 4-м этаже.</p>
            <p>Ауд. 412- Преподавательская, тел. 293-89-56. <br> Ауд. 412 - Заведующий лабораторией, тел. 293-86-67</p>
         </div>
      </div>
        <div class="contacts text-right">
           <p>(+375 17) 293-89-56<span class="glyphicon glyphicon-earphone"></span></p>
           <p>220013, г. Минск, ул. П.Бровки, 6<span class="glyphicon glyphicon-envelope"></span></p><p style="padding-right: 30px">Кафедра вычислительных методов и программирования</p>
           <p style=" padding-right: 30px">vmipmail@bsuir.by</p>
        </div>
	</div>