<!DOCTYPE html>
<html>
<head>
  <title> ФИТиУ Абитуриентам </title>
  */
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="robots" content="index follow">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/abityra.css">
  <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header id="fitu-header" th:replace="fragments/header::header">
</header>

<section>
    <div class="portfolio">
    <h2>Специальности</h2>
      <div class="speca1">
      <div class="bit-4 img-container">
        <img src="images/asoi.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-1">
          <p><a href="asoi.html"> Автоматизированные системы обработки информации</a></p>
          </div>
        </div>
      <div class="bit-4 img-container">
        <img  src="images/igri.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-2">
          <p><a href="isit.html"> Игровая индустрия </a></p>
          </div>
        </div>
      <div class="bit-4 img-container">
        <img src="images/ii.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-3">
          <p><a href="ii.html"> Искусственный интеллект </a></p>
          </div>
        </div>
        </div>
        <div class="speca2">
      <div class="bit-4 img-container">
        <img src="images/itiyts.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-4">
          <p><a href="itiuts.html"> Информационные технологии и управление в технических системах </a></p>
          </div>
        </div>
      <div class="bit-4 img-container">
        <img src="images/pe.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-5">
          <p><a href="pe.html"> Промышленная электроника </a></p>
          </div>
        </div>
      </div>
      </div>
    </section>
  </body>
</html>
