<!DOCTYPE html>
<html>
<head>
  <title> ФИТиУ Абитуриентам </title>
  */
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="robots" content="index follow">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="css/abityra.css">
  <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header id="fitu-header">
		<div class="head">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<a href="#" class="js-fitu-nav-toggle fitu-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>

				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html" data-nav-section="main"><span >Главная</span></a></li>
						<li><a href="faculty.html" data-nav-section="help"><span>Факультет</span></a></li>
						<li><a href="news.html" data-nav-section="news"><span>Новости</span></a></li>
						<li><a href="achievements.html" data-nav-section="achievments"><span>Достижения</span></a></li>
						<li><a href="abiturient.html" data-nav-section="enrollee"><span>Абитуриентам</span></a></li>
						<li><a href="help.html" data-nav-section="help"><span>Помощь</span></a></li>
						<li class="search"><a href="#" data-nav-section="help">
							<input type="text" class="form-control" aria-label="..." placeholder="Поиск..">
						</a></li>
						<li><a href="#"><span>Войти</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
	</header>

<section>
    <div class="portfolio">
    <h2>Специальности</h2>
      <div class="speca1">
      <div class="bit-4 img-container">
        <img src="images/asoi.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-1">
          <p><a href="asoi.html"> Автоматизированные системы обработки информации</a></p>
          </div>
        </div>
      <div class="bit-4 img-container">
        <img  src="images/igri.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-2">
          <p><a href="isit.html"> Игровая индустрия </a></p>
          </div>
        </div>
      <div class="bit-4 img-container">
        <img src="images/ii.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-3">
          <p><a href="ii.html"> Искусственный интеллект </a></p>
          </div>
        </div>
        </div>
        <div class="speca2">
      <div class="bit-4 img-container">
        <img src="images/itiyts.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-4">
          <p><a href="itiuts.html"> Информационные технологии и управление в технических системах </a></p>
          </div>
        </div>
      <div class="bit-4 img-container">
        <img src="images/pe.jpg" alt="Some Image Alt Tags!">
        <div class="overlay overlay-5">
          <p><a href="pe.html"> Промышленная электроника </a></p>
          </div>
        </div>
      </div>
      </div>
    </section>
  </body>
</html>
